@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300&family=Silkscreen&display=swap');

body{
    background-color: black;
    color: aliceblue;
}

.webgl {
    position: fixed;
    z-index: -2;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    border-bottom: 2px dashed white;
}

li {
    margin-bottom: 0;
}

#name {
    font-size: 20px;
    padding-top: 20px;
}

#title {
    font-size: 50px;
    padding-right: 5vw;
}

#backArrow {
    font-size: 40px;
    padding-top: 13px;
}

.paragraph {
    margin-top: 5vh;
    line-height: 2;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30vw;
    padding-right: 30vw;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.certification-display {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}